.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

node_modules/
**/node_modules/
.cache/
**/.cache/
.huggingface/
**/.huggingface/

# big artifacts anywhere
*.pt
*.pth
*.bin
*.h5
**/*.pt
**/*.pth
**/*.bin
**/*.h5

data/
dataset/
datasets/
**/data/
**/dataset/
**/datasets/
result/
results/
static/
**/result/
**/results/
**/static/
